@font-face {
	font-family: "Steradian";
	font-display: fallback;
	src: url("./Steradian-Rg.ttf") format("truetype"),
		url("./Steradian-Rg.woff") format("woff"),
		url("./Steradian-Rg.eot") format("embedded-opentype");

	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "OTWelcomeRA";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2")
		format("woff2");
	font-weight: normal;
	font-style: normal;
}
